.goBack {
    width: 2rem;
    cursor: pointer;
}

.ContentContainer {
    margin-top: 5rem;
}

.SortImage {
    width: 2rem;
}

.CloseCircle {
    width: 1.5rem;
    position: absolute;
    top: 0.2rem;
    right: 5.2rem;
    z-index: 100;
}